@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100&family=Inter:wght@100;500&family=Montserrat:wght@100;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #fff;
  color: #000;
}

html {
  font-family: Inter, sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 18px;
  align-items: flex-end;
  line-height: 25px;
}

header {
  width: 100%;
}

.cabecalho {
  background-color: #f8f0ec;
  width: 100%;
}

nav {
  max-width: 1120px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_jemima {
  width: 12.5%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  color: #e28b5f;
}

.menu_item {
  font-size: 18px;
  color: #e28b5f;
}

.redes_sociais {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  padding: 2rem 4rem;
}

.container-principal > img {
  width: 28%;
}

.principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: -1.5rem;
  gap: 3.5rem;
  padding: 3rem;
  overflow: clip;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.principal-imagens {
  max-width: 50%;
  column-count: 3;
  column-gap: 1rem;
  margin: -1rem;
}

.principal-imagens > figure > img {
  width: 120px;
  border-radius: 0.5rem;
}

.principal-imagens > figure > img:hover {
  scale: 1.2;
  transition: 0.5s;
}

h1 {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 800;
}

hr {
  border-color: #a45a49;
}

.principal_sub-titulo {
  color: #000000;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
}

.depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
  margin-top: 6rem;
  width: 100%;
}

.depoimentos-cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.depoimentos-titulos {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  align-items: center;
}

.depoimentos-subtitulos {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  align-items: center;
}

.depoimentos-container {
  padding: 0rem 10rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.depoimentos-cards{
  display: flex;
  gap: 2rem;
  max-width: 600px;
}

.depoimentos-card {
  background-color: rgb(224, 167, 167);
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}


.depoimentos-card h3 {
  font-family: Montserrat;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  margin-bottom: 10px;
}



.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
  margin-top: 2rem;
  width: 100%;
}

.contato p{
  text-align: center;
}


.rodape {
  width: 100%;
  margin: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.rodape_conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_footer {
  width: 5%;
}

.rodape_titulo {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}


.perfil_conteudo {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
 

}

.foto_perfil {
  width: 20%;
}

.perfil_conteudo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.perfil_titulo {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 800;
}

.perfil_texto {
  color: #000000;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  max-width: 800px;
  padding: 1rem;
  line-height: 30px;
}

.servicos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3rem;
  gap: 0.5rem;
}

.servicos_conteudo {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.foto_servicos {
  width: 40%;
}

.servicos_conteudo_texto {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.servicos-imagens {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  gap: 4rem;
}

.servicos-imagens > figure > img {
  width: 350px;
  border-radius: 0.5rem;
}

.servicos-imagens > figure > img:hover {
  scale: 1.2;
  transition: 0.5s;
}

@media (max-width: 920px) {
  

  .cabecalho .menu{
    display: none;
  }

  .container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.8rem;
    padding: 0.5rem;
  }

  .principal{
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
  }

  .principal h1, h2, p{
    text-align: center;
  }

  .principal-imagens img{
    display: flex;
    align-items: center;
    margin: -1rem;
  }

  .depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

  .depoimentos-subtitulos{
    display: none;
  }

  .depoimentos-card-titulo{
    margin-bottom: 2rem;
  }

  .depoimentos-cards {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .rodape {
    display: none;
  }

  .perfil_conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .perfil_conteudo h2{
    text-align: center;
  }

  .servicos{
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-left: 2rem;
  }

  .servicos-imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

  .contato p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

  }

  .rodape{
    display: flex;
}
}